
*.tfstate
*.tfstate.backup
.terraform/
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl
terraform.tfvars


.env


node_modules/


.vscode/
*.swp
*.swo
.idea/


*.log
